/* accent options */
:root {
    --accent-color: rgb(129, 190, 211);
    --accent-width: 2px;
}

/* prevent layout disorder in safari */
ruby > rt {
    height: 1em;
}

/* accent definition */
[class*='accent'] {        
    /* height matching w/ rt */
    padding-top: .5em !important;

    /* no need for rt */
    &:is(.main ruby > rt [class*='accent']) {
        padding-top: 0 !important; 
    }

    border: 
        0
        solid 
        var(--accent-color) !important;
    border-top-width:  
        var(--accent-width) !important;
}    

/* trailing drop for kana */
.accent-drop::after {
    /* apply invisible volume */
    content: '';
    display: inline-block;
    color: transparent;
    pointer-events: none;
    
    /* match the height of rt's and their borders */
    height: 
        calc(
            .5em + 
            2 * var(--accent-width)
        );
    
    /* match the height of its parent */
    translate: 
        0 
        calc(
            -1em - 
            -2 * var(--accent-width)
        );
    
    border-left: 
        solid 
        var(--accent-color) 
        var(--accent-width);
}

/* trailing drop for furikana */
rt .accent-drop {
    border-right-width: var(--accent-width) !important;
    
    /* avoid redundant lines */
    &::after {
        display: none;
    }
}

/* prevent trailing drop sticking to the right */
.accent-drop:last-child {
    margin-right: 1px;
}