/* accent options */
:root {
    --accent-color: var(--color-accent-red); /* Map to red accent from global palette */
    --accent-width: 2px;
}

/* prevent layout disorder in safari */
ruby > rt {
    height: 1em;
}

/* accent definition */
[class*='accent'] {
    /* height matching w/ rt */
    padding-top: calc(0.5em + 0.25rem) !important;

    /* no need for rt */
    &:is(.main-content ruby > rt [class*='accent']) {
        padding-top: calc(0em + 0.25rem) !important;
    }

    border: 0 solid var(--accent-color) !important;
    border-top-width: var(--accent-width) !important;
}

/* trailing drop for all accent-drop marks */
.accent-drop {
    position: relative;
}

.accent-drop::after {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    height: 0.4rem;
    border-left: solid var(--accent-color) var(--accent-width);
}

/* prevent trailing drop sticking to the right */
.accent-drop:last-child {
    margin-right: 1px;
}
