.input-section {
    position: relative;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
}

.input-section .input-description {
    text-align: center;
    position: absolute;
    top: 15vh;
    font-size: clamp(.8rem, .8rem + 2vw, 2rem);
    color: var(--color-primary);
}

.input-section .input-area {
    all: unset;
    display: block;
    box-sizing: border-box;

    position: relative;
    width: clamp(10rem, 10rem + 40vw, 32rem);
    height: 60vh;
    padding: 1rem;
    overflow-y: auto;
    
    background-color: var(--color-primary);
    color: var(--color-secondary);
    cursor: text;
    
    &:focus {
        background-color: color-mix(in hsl, var(--color-primary), #000 5%);;
    }
    &:empty:not(:focus)::before {
      content: attr(data-placeholder);
      pointer-events: none;
      display: block;
      opacity: .8;
    }
}

.input-section .generate-button {
    width: 4rem;
    height: 4rem;
    background-color: #0000;
    color: var(--color-secondary);
    cursor: pointer;
    border-radius: 50%;
    transition: scale .2s ease;
    position: absolute;
    right: clamp(50vw - 16rem, 30vw - 5rem, 50vw - 5rem);;
    bottom: 0;
    font-size: 1.6rem;
    &:hover {
        scale: 1.1;
        animation: wiggle .5s linear 1;
    }
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}