.main {
    width: 100vw;
    height: 190vh;

    background-color: var(--color-secondary);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .nav {
    width: 100%;
    padding: 0 4rem;
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px #0001;
}

.main .nav-title {
    display: flex;
    align-items: center;
    gap: .2rem;
    & .title {
        font-weight: 800;
        font-size: clamp(.5rem, .5rem + 2vh, 1.6rem);
    }
    & .logo {
        width: 5vh;
        height: 5vh;
    }
}


.main .nav-buttons {
    display: flex;
    gap: 1rem;

    & button {
        background-color: var(--color-secondary);
        color: var(--color-primary);
        border: none;
        width: 4vh;
        height: 4vh;
        font-size: clamp(.2rem, .2rem + 2vh, 1rem);
        display: grid;
        place-items: center;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color .2s ease;

        &:hover {
            background-color: color-mix(in hsl, var(--color-secondary), #000 5%);
        }
    }
}

.main .run-button {
    position: relative;
    width: 10vh;
    height: 10vh;
    margin: 5vh 0;
    background-color: var(--color-accent);
    color: var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
    transition: font-size scale .2s ease;
    overflow: hidden;
    &:hover {
        font-size: 2rem;
        scale: 1.1;
        /* background-color: color-mix(in hsl, var(--color-accent), #000 5%); */
    }
}

.run-button i {
    width: 5vh;
    height: 5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0s;
    &:first-child {
        transition: 0s;
        transform: translate(-50%, -300%);    
    }
}

.run-button:hover i {
        transition: transform .2s ease;
        transform: translate(-50%, 150%);
    &:first-child {
        transition: transform .2s ease .3s;
        transform: translate(-50%, -50%);
    }
}