.main {
    width: 100vw;
    height: 100vh;

    background-color: var(--color-secondary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.main .input-area {
    all: unset;
    display: block;
    box-sizing: border-box;

    width: 32rem;
    height: 8rem;
    padding: 1rem;
    margin-bottom: 1rem;
    
    background-color: var(--color-primary);
    color: var(--color-secondary);
    cursor: text;
    &:focus {
        background-color: color-mix(in hsl, var(--color-primary), #000 10%);;
    }
    &:empty::before {
      content: attr(data-placeholder);
      pointer-events: none;
      display: block;
      opacity: .8;
    }
}

.main .result {
    width: 32rem;
    height: 24rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 1rem;
    user-select: none;
    line-height: 2.5;
}

.main .result .furigana {
    all: unset;
    display: inline;

    /* some variables passed by EditableStr */
    width: var(--width);
    height: var(--height);

    text-align: center;
    cursor: pointer;

    &:focus {
        cursor: text;
        background-color: #0002;
    }
}

.main .copy-button {
    padding: .5rem 1.5rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color .2s ease;
}

.main .copy-button:hover {
    background-color: color-mix(in hsl, var(--color-primary), #000 10%);
}
