.main {
    width: 100vw;
    height: 200vh;

    background-color: var(--color-secondary);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.main .nav {
    width: 100%;
    padding: 0 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    color: var(--color-secondary);

    & .title {
        font-weight: 800;
        font-size: 1.6rem;
    }
}

.main .nav-buttons {
    display: flex;
    gap: 1rem;

    & button {
        background-color: var(--color-secondary);
        color: var(--color-primary);
        border: none;
        width: 2rem;
        height: 2rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color .2s ease;

        &:hover {
            background-color: color-mix(in hsl, var(--color-secondary), #000 5%);
        }
    }
}

.main .run-button {
    width: 6rem;
    height: 6rem;
    margin: 2rem 0;
    background-color: var(--color-accent);
    color: var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease;
    &:hover {
        font-size: 2rem;
        background-color: color-mix(in hsl, var(--color-accent), #000 5%);
    }
}
