.main {
    width: 100vw;
    height: 100vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.main .input {
    width: 32rem;
    height: 8rem;
    background-color: hsl(275, 72%, 68%);
    color: #eee;
    padding: 1rem;
}

.main .result {
    width: 32rem;
    height: 24rem;
    background-color: hsl(275, 72%, 68%);
    color: #eee;
    padding: 1rem;
    user-select: none;
}

.main input {
    all: unset;
    display: inline;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    width: var(--width);
    height: var(--height);
    background: none;
    text-align: center;
    vertical-align: baseline;
    cursor: pointer;
    &:focus {
        background-color: #0002;
    }
}