.main {
    width: 100vw;
    height: 200vh;

    background-color: var(--color-secondary);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.main .nav {
    width: 100%;
    padding: 0 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    color: var(--color-secondary);

    & .title {
        font-weight: 800;
        font-size: 1.6rem;
    }
}

.main .nav-buttons {
    display: flex;
    gap: 1rem;

    & button {
        background-color: var(--color-secondary);
        color: var(--color-primary);
        border: none;
        width: 2rem;
        height: 2rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color .2s ease;

        &:hover {
            background-color: color-mix(in hsl, var(--color-secondary), #000 5%);
        }
    }
}

.main .input-description {
    margin-top: 2rem;
    text-align: center;
    color: var(--color-primary);
}

.main .input-section {
    position: relative;
    width: 32rem;
    height: 44.5rem;
    display: grid;
    place-items: center;
}

.main .input-area {
    all: unset;
    display: block;
    box-sizing: border-box;

    position: relative;
    width: 32rem;
    height: 40rem;
    padding: 1rem;
    margin-bottom: 1rem;
    
    background-color: var(--color-primary);
    color: var(--color-secondary);
    cursor: text;
    &:focus {
        background-color: color-mix(in hsl, var(--color-primary), #000 5%);;
    }
    &:empty:not(:focus)::before {
      content: attr(data-placeholder);
      pointer-events: none;
      display: block;
      opacity: .8;
    }
}

.main .generate-button {
    width: 4rem;
    height: 4rem;
    background-color: #0000;
    color: var(--color-secondary);
    cursor: pointer;
    border-radius: .5rem;;
    transition: background-color .2s ease;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.6rem;
}

.main .run-button {
    width: 6rem;
    height: 6rem;
    margin: 2rem 0;
    background-color: var(--color-accent);
    color: var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease;
    &:hover {
        font-size: 2rem;
        background-color: color-mix(in hsl, var(--color-accent), #000 5%);
    }
}

.main .result-section {
    position: relative;
    width: 32rem;
    height: 48rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .result-description {
    text-align: center;
    color: var(--color-primary);
}

.main .result-area {
    width: 32rem;
    height: 40rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 1rem;
    user-select: none;
    line-height: 2.5;
}

.main .result-area .furigana {
    all: unset;
    display: inline;

    /* some variables passed by EditableStr */
    width: var(--width);
    height: var(--height);

    text-align: center;
    cursor: pointer;

    &:focus {
        cursor: text;
        background-color: #0002;
    }
}

.main .result-buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: .5rem;
}

.main .result-buttons button {
    width: 4rem;
    height: 2rem;
    background-color: var(--color-accent);
    color: var(--color-primary);
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color .2s ease;

    &:hover {
        background-color: color-mix(in hsl, var(--color-accent), #000 5%);
    }

    &.copy-button {
        height: 4rem;;
    }
}

.main .share-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    gap: 1rem;
    outline: var(--color-primary) solid .1rem;
    outline-offset: .5rem;
    border-radius: .5rem;
}

.main .download {
    color: var(--color-primary);
    height: 2rem;
    position: absolute;
    right: 11rem;
    display: flex;
    align-items: center;
}

.main .copy-description {
    color: var(--color-primary);
    left: 5rem;
    position: absolute;
    background-color: #fff5;
    padding: .5rem 1.5rem;
    transition: opacity .1s;
}