.result-section {
    position: relative;
    width: clamp(10rem, 10rem + 40vw, 32rem);
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}

.result-section .result-description {
    text-align: center;
    position: absolute;
    pointer-events: none;
    top: 5vh;
    color: var(--color-primary);
    font-size: clamp(0.8rem, 0.8rem + 2vw, 2rem);
}

.result-section .result-area {
    width: clamp(10rem, 10rem + 40vw, 32rem);
    height: 60vh;
    padding: 1rem;
    overflow-y: auto;

    background-color: var(--color-primary);
    color: var(--color-secondary);
    user-select: none;
    line-height: 2.5;
}

.result-section:has(.dark) .result-area {
    background-color: #fff;
    color: #000;
}

.result-section .kana {
    cursor: pointer;
}

.result-section .furigana {
    all: unset;
    display: inline;

    text-align: center;
    cursor: pointer;

    &:focus {
        cursor: text;
        background-color: #0002;
    }
}

.result-section .color-button {
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: 0.5rem;
    bottom: calc(20vh + 0.5rem);

    color: #ddd;
    background-color: #444;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        scale: 1.1;
        transition: scale 0.2s ease;
    }
    &.dark {
        color: var(--color-primary);
        background-color: var(--color-secondary);
    }
}

.result-section .result-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 0.5rem;
}

.result-section .result-buttons button {
    width: 4rem;
    height: 2rem;
    background-color: var(--color-accent);
    color: var(--color-primary);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: color-mix(in hsl, var(--color-accent), #000 5%);
    }

    &.copy-button {
        height: 3rem;
    }
}

.result-section .share-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    gap: 0.5rem;
    outline: var(--color-primary) solid 0.1rem;
    outline-offset: 0.5rem;
    border-radius: 0.5rem;
}

.result-section .download {
    color: var(--color-primary);
    height: 2rem;
    position: absolute;
    right: 10.5rem;
    display: flex;
    align-items: center;
}

.result-section .copy-description {
    color: var(--color-primary);
    left: 5rem;
    position: absolute;
    background-color: #fff5;
    padding: 0.5rem 1.5rem;
    transition: opacity 0.1s;
}
