@property --progress {
    syntax: '<length-percentage>';
    inherits: false;
    initial-value: 0%;
}

.run-button {
    --size: 10vh;
    --bar-width: .5rem;

    position: relative;
    width: var(--size);
    aspect-ratio: 1 / 1;
    margin: 5vh 0;

    background: var(--color-accent);
    color: var(--color-primary);
    border-radius: 50%;

    cursor: pointer;
    transition: 
        font-size .2s ease, 
        scale .2s ease, 
        --progress .5s;
    overflow: hidden;
    
    display: grid;
    place-items: center;

    &:hover:not(.running) {
        font-size: 2rem;
        scale: 1.1;
    }

    &::after {
        content: '';
        background: var(--color-accent);
        border-radius: inherit;
        width: calc(100% - var(--bar-width));
        aspect-ratio: 1 / 1;

        display: grid;
    }

    &.running {
        background: conic-gradient(
        var(--color-primary) var(--progress, 0),
        color-mix(in hsl, var(--color-accent), #000 5%) 0%
        );
        cursor: wait
    }

    &.running::after {
        background-color: color-mix(in hsl, var(--color-accent), #000 5%);
    }
}

.run-button i {
    width: 5vh;
    height: 5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0s;
    &:first-child {
        transition: 0s;
        transform: translate(-50%, -300%);    
    }
}

.run-button:hover:not(.running) i {
        transition: transform .2s ease;
        transform: translate(-50%, 150%);
    &:first-child {
        transition: transform .2s ease .3s;
        transform: translate(-50%, -50%);
    }
}