.to-top {
    position: fixed;
    bottom: 2.5vh;
    right: 2.5vh;
    width: 5vh;
    height: 5vh;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: 0 2px 4px #0001;
    transition: all .2s ease;

    &:hover {
        scale: 1.1;
    }
    i {
        font-size: clamp(.5rem, .5rem + 2vh, 1.6rem);
    }
    &.hidden {
        pointer-events: none;
        opacity: 0;
    }
}