* {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
}

body {
    font-family: 
        system-ui, 
        -apple-system, 
        BlinkMacSystemFont, 
        'Segoe UI', 
        Roboto, 
        Oxygen, 
        Ubuntu, 
        Cantarell, 
        'Open Sans', 
        'Helvetica Neue', 
        sans-serif;
}

.visually-hidden {
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}